.item {
    width: 100px;
    height: 100px;
    outline: 1px dashed black;
    background-size: 100%;
    &:not([data-type]), &[data-type=""] {
        background-image: url(/assets/images/items/helmets/placeholder.png)
    }
    &[data-type="helmets"] {
        &:not([data-familly]), &[data-familly=""] {
            background-image: url(/assets/images/items/helmets/placeholder.png)
        }
        &[data-familly="cloth"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_HEAD_CLOTH_SET1.png)
        }
        &[data-familly="leather"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_HEAD_LEATHER_SET1.png)
        }
        &[data-familly="plate"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_HEAD_PLATE_SET1.png)
        }
    }
    &[data-type="shoes"] {
        &:not([data-familly]), &[data-familly=""] {
            background-image: url(/assets/images/items/shoes/placeholder.png)
        }
        &[data-familly="cloth"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_SHOES_CLOTH_SET1.png)
        }
        &[data-familly="leather"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_SET1.png)
        }
        &[data-familly="plate"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_SHOES_PLATE_SET1.png)
        }
    }
    &[data-type="armors"] {
        &:not([data-familly]), &[data-familly=""] {
            background-image: url(/assets/images/items/armors/placeholder.png)
        }
        &[data-familly="cloth"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_ARMOR_CLOTH_SET1.png)
        }
        &[data-familly="leather"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_ARMOR_LEATHER_SET1.png)
        }
        &[data-familly="plate"] {
            background-image: url(https://render.albiononline.com/v1/item/T4_ARMOR_PLATE_SET1.png)
        }
    }
    /* &[data-type="weapons"] {
        &[data-familly="cloth"] {

        }
        &[data-familly="leather"] {
            
        }
        &[data-familly="plate"] {
            
        }
    } */
    position: relative;
    &[data-def] {
        &::before {
            content: 'def: ' attr(data-def);
            font-weight: bold;
            position: absolute;
            top: -20px;
            left: -5px;
        }
    }
    &[data-pwr] {
        &::after {
            content: 'pwr: ' attr(data-pwr);
            font-weight: bold;
            text-align: right;
            position: absolute;
            top: -20px;
            right: -5px;
        }
    }
}
.equipment > * {
    outline: 1px dashed black;
    width: 100px;
    height: 100px;
}
